@font-face {
    font-family: 'Barkentina';
    src: local('Barkentina 1'), url('../fonts/barkentina1.woff2') format('woff2'), url('../fonts/barkentina1.woff') format('woff'), url('../fonts/barkentina1.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
